@font-face {
  font-family: "iconfont"; /* Project id 3879232 */
  src: url('iconfont.woff2?t=1680250650074') format('woff2'),
       url('iconfont.woff?t=1680250650074') format('woff'),
       url('iconfont.ttf?t=1680250650074') format('truetype'),
       url('iconfont.svg?t=1680250650074#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhengwubanshi:before {
  content: "\e6a0";
}

.icon-overtime:before {
  content: "\e638";
}

.icon-circulation:before {
  content: "\e639";
}

.icon-menu-event:before {
  content: "\e63a";
}

.icon-menu-info:before {
  content: "\e63b";
}

.icon-menu-map:before {
  content: "\e63c";
}

.icon-menu-dispatch:before {
  content: "\e63d";
}

.icon-menu-safety:before {
  content: "\e63e";
}

.icon-menu-grid:before {
  content: "\e63f";
}

.icon-menu-meeting:before {
  content: "\e640";
}

.icon-menu-bright:before {
  content: "\e641";
}

.icon-areadata:before {
  content: "\e642";
}

.icon-cost:before {
  content: "\e643";
}

.icon-facing:before {
  content: "\e644";
}

.icon-school:before {
  content: "\e645";
}

.icon-information:before {
  content: "\e646";
}

.icon-liveroom:before {
  content: "\e647";
}

.icon-meeting:before {
  content: "\e648";
}

.icon-organize:before {
  content: "\e649";
}

.icon-Medal:before {
  content: "\e64a";
}

.icon-trophy:before {
  content: "\e64b";
}

.icon-hospital:before {
  content: "\e64c";
}

.icon-survey:before {
  content: "\e64d";
}

.icon-board:before {
  content: "\e64e";
}

.icon-economic:before {
  content: "\e64f";
}

.icon-cover:before {
  content: "\e650";
}

.icon-equipment:before {
  content: "\e651";
}

.icon-event-b:before {
  content: "\e652";
}

.icon-fire:before {
  content: "\e653";
}

.icon-flag2:before {
  content: "\e654";
}

.icon-high-b:before {
  content: "\e655";
}

.icon-low-b:before {
  content: "\e656";
}

.icon-molds:before {
  content: "\e657";
}

.icon-organization:before {
  content: "\e658";
}

.icon-other:before {
  content: "\e659";
}

.icon-personnel:before {
  content: "\e65a";
}

.icon-plane:before {
  content: "\e65b";
}

.icon-population-n:before {
  content: "\e65c";
}

.icon-population-r:before {
  content: "\e65d";
}

.icon-site:before {
  content: "\e65e";
}

.icon-star:before {
  content: "\e65f";
}

.icon-streetlight:before {
  content: "\e660";
}

.icon-superhigh-b:before {
  content: "\e661";
}

.icon-trash1:before {
  content: "\e662";
}

.icon-women:before {
  content: "\e663";
}

.icon-man:before {
  content: "\e664";
}

.icon-courtyard:before {
  content: "\e665";
}

.icon-house:before {
  content: "\e666";
}

.icon-mans:before {
  content: "\e667";
}

.icon-parts-camera:before {
  content: "\e668";
}

.icon-patrol:before {
  content: "\e669";
}

.icon-pic:before {
  content: "\e66a";
}

.icon-relation:before {
  content: "\e66b";
}

.icon-close:before {
  content: "\e602";
}

.icon-bell:before {
  content: "\e603";
}

.icon-bell-o:before {
  content: "\e604";
}

.icon-bigdata:before {
  content: "\e605";
}

.icon-chevron-down:before {
  content: "\e606";
}

.icon-bookmark:before {
  content: "\e607";
}

.icon-chevron-up:before {
  content: "\e608";
}

.icon-chevron-left:before {
  content: "\e609";
}

.icon-city:before {
  content: "\e60a";
}

.icon-cog:before {
  content: "\e60b";
}

.icon-card-o:before {
  content: "\e60c";
}

.icon-comments:before {
  content: "\e60d";
}

.icon-calendar:before {
  content: "\e60e";
}

.icon-envelope:before {
  content: "\e60f";
}

.icon-event:before {
  content: "\e610";
}

.icon-envelope-o:before {
  content: "\e611";
}

.icon-commenting:before {
  content: "\e612";
}

.icon-chevron-right:before {
  content: "\e613";
}

.icon-flag:before {
  content: "\e614";
}

.icon-exclamation-circle:before {
  content: "\e615";
}

.icon-edit:before {
  content: "\e616";
}

.icon-government:before {
  content: "\e617";
}

.icon-institution:before {
  content: "\e618";
}

.icon-gis:before {
  content: "\e619";
}

.icon-grid:before {
  content: "\e61a";
}

.icon-g-icon:before {
  content: "\e61b";
}

.icon-heart:before {
  content: "\e61c";
}

.icon-life:before {
  content: "\e61d";
}

.icon-lock:before {
  content: "\e61e";
}

.icon-mobile:before {
  content: "\e61f";
}

.icon-map-marker:before {
  content: "\e620";
}

.icon-multiple:before {
  content: "\e621";
}

.icon-list:before {
  content: "\e622";
}

.icon-paperclip:before {
  content: "\e623";
}

.icon-photo:before {
  content: "\e624";
}

.icon-pie-chart:before {
  content: "\e625";
}

.icon-plus-square:before {
  content: "\e626";
}

.icon-plus:before {
  content: "\e627";
}

.icon-plus-square-o:before {
  content: "\e628";
}

.icon-refresh:before {
  content: "\e629";
}

.icon-sort-down:before {
  content: "\e62a";
}

.icon-question-circle-o:before {
  content: "\e62b";
}

.icon-sort:before {
  content: "\e62c";
}

.icon-sort-right:before {
  content: "\e62d";
}

.icon-repeat:before {
  content: "\e62e";
}

.icon-search:before {
  content: "\e62f";
}

.icon-system:before {
  content: "\e630";
}

.icon-trash:before {
  content: "\e631";
}

.icon-table:before {
  content: "\e632";
}

.icon-user:before {
  content: "\e633";
}

.icon-trash-o:before {
  content: "\e634";
}

.icon-work:before {
  content: "\e635";
}

.icon-user-plus:before {
  content: "\e636";
}

.icon-normaltime:before {
  content: "\e637";
}

